.custom-sidebar {
    background: linear-gradient(180deg, #151E58 0%, #28357A 100%);
    width: 250px;
    font-size: 14px;}

.custom-sidebar-2 {
    background: linear-gradient(180deg, #151E58 0%, #28357A 100%);
    font-size: 14px;
}

.hover-css-sidebar {
    background: #4256D0;
    color: #FFFFFF;
}

.nav-link.nav-cus:focus {
    color: #FFFFFF;
}

.init-nav-co {
    color: #FFFFFF80;
    font-weight: 600;
}

.init-nav-co:hover {
    color: #FFFFFF80;
    font-weight: 600;
}
.bg-right-img{
    height: auto;
}
label.clr-label {
    color: #747681;
    font-weight: 600;
}

.whole-src-clr {
    background: #F5F5F5;
    height: auto;
}
.form-complete-bg{
    background: #FFFFFF; 
    border-radius: 8px;
    overflow-y: auto;
}
.form-bg {
    background: #FFFFFF;
    height: auto;
}

.frm-input-style {
    color: #747681;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #00000066;
    background: #FAFAFA;
}

.frm-input-style:focus {
    box-shadow: none;
    color: #747681;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #00000066;
    background: #FAFAFA;
}

.btn.btn-blue-clr {
    background: #4260EA;
    border: 1px solid #000000;
    font-weight: 600;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 8px;
}

.btn.btn-blue-clr:focus {
    background: #4260EA;
    border: 1px solid #000000;
    font-weight: 600;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 8px;
}
.layout-scroll{
    height: auto;
}
.btn.btn-cancel {
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #111827;
    font-weight: 600;
    color: #111827;
    padding: 8px;
}
.over-with-hv {
    height: auto;
    overflow-y: visible;
}

@media (min-width: 992px) {
    .over-with-hv {
        height: 50vh;
        overflow-y: auto;
    }
    .whole-src-clr {
    background: #F5F5F5;
    height: 100vh;
    overflow-y: auto;
}
.bg-right-img{
    background: #F9F9F9;
    height: 100vh;
}
.form-bg {
    background: #FFFFFF;
    height: 100vh;
    overflow-y: auto;
}
.layout-scroll{
    height: 100vh;
    overflow: hidden;
}

}
.table-clr-blue{
background: #4260EA;


}
.frm-table-style{
    color: #304C57;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #304C5733;
    background: #FFFFFF;
}
.frm-table-style:focus{
    color: #304C57;
    padding: 6px;
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid #304C5733;
    background: #FFFFFF;
}
select.form-select {
  appearance: auto;
}
body{
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 170.45px;
    height: 64.26px;
    position: absolute;
    top: 60px;   
    left: 97.55px;   
}

.title{
    position: absolute;
    top: 266.75px;   
    font-weight: 700;
    font-size: 30px;
    line-height: 29.16px;
    letter-spacing: 0%;
}

.cardAdmin {
    position: absolute;
    top: 393.27px;
    left: 470px;
}
.btn-center-init{
 position:relative;
    top: 650px;
    border-radius: 30px;
    background-color: 16151580;
    padding: 15px;
}
.btn-select{
    background-color: #16151580; 
   color: #00000080;
}
.btn-continue{
      background-color: #4763E4; 
   color: #FFFFFF;
}
.btn-continue:focus{
    background-color: #4763E4; 
   color: #FFFFFF;
}
.btn-continue:hover{
      background-color: #4763E4; 
   color: #FFFFFF;
}
.cardManager {
    position: absolute;
    top: 393.27px;
    left: 742px; 
}

.role {
    Width: 228.41px;
    Height: 253.32px;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
}


/* @media (max-width: 768px) {
  .logo {
    position: static;
    display: block;
    margin: 20px auto;
  }

  .title {
    position: static;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
  }

  .cardAdmin,
  .cardManager {
    position: static;
    display: block;
    margin: 20px auto;
    text-align: center;
  }

  .btn {
    position: static;
    display: block;
    margin: 30px auto;
  }
}
 */
.form-control{
    box-shadow: none;
}
.humburger-small{
    z-index: 9999;
    position: fixed;
    top: 0;
    margin-top: 67px;
    background: linear-gradient(180deg, #151E58 0%, #28357A 100%);
    font-size: 14px;
    border-radius: 5px;
}
.btn-stop-focus:focus{
    border: none;
}
.humburger-menu-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.humburger-menu-wrapper.open {
  max-height: 1000px; /* enough to show all items */
  opacity: 1;
}
